@import "./fonts";

body {
  background: #eee;
  direction: rtl;
  font-family: Sahel;
}

.content {
  background: #333;
  color: #fff;
  padding: 5rem;
  font-size: 2rem;
  margin: 1rem;
  text-align: justify;
  box-sizing: border-box;
}

.box1 {
  width: 1080px;
  height: 1080px;
}
